<form class="mb-20" method="get" action="{:url(request()->action())}">
    <input type="text" class="input-text" style="width:250px" placeholder="姓名" name="realname" value="{:input('param.realname')}">
    <input type="text" class="input-text" style="width:250px" placeholder="帐号" name="account" value="{:input('param.account')}">
    <input type="text" class="input-text" style="width:250px" placeholder="邮箱" name="email" value="{:input('param.email')}">
    <input type="text" class="input-text" style="width:250px" placeholder="手机" name="mobile" value="{:input('param.mobile')}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>