<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="姓名" name="realname" value="{$Request.param.realname}">
    <input type="text" class="input-text" style="width:250px" placeholder="帐号" name="account" value="{$Request.param.account}">
    <input type="text" class="input-text" style="width:250px" placeholder="邮箱" name="email" value="{$Request.param.email}">
    <input type="text" class="input-text" style="width:250px" placeholder="手机" name="mobile" value="{$Request.param.mobile}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>