<form class="mb-20" method="get" action="{:\\think\\Url::build(\\think\\Request::instance()->action())}">
    <input type="text" class="input-text" style="width:250px" placeholder="姓名" name="realname" value="{:\\think\\Request::instance()->param('realname')}">
    <input type="text" class="input-text" style="width:250px" placeholder="帐号" name="account" value="{:\\think\\Request::instance()->param('account')}">
    <input type="text" class="input-text" style="width:250px" placeholder="邮箱" name="email" value="{:\\think\\Request::instance()->param('email')}">
    <input type="text" class="input-text" style="width:250px" placeholder="手机" name="mobile" value="{:\\think\\Request::instance()->param('mobile')}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>