{extend name="template/base" /}
{block name="nav"}{/block}
{block name="content"}
<div class="page-container">
    <form action="{:request()->baseUrl()}" method="post" id="form" style="padding-top: 50px">
        <input type="hidden" name="id" VALUE="{:input('param.id')}" />
        <div class="cl pd-5 bg-1 bk-gray pos-f" style="left: 20px;right: 20px;top: 20px;">
            <span class="l">
                <button type="button" class="btn btn-primary radius" onclick="$('.panel .panel-header :checkbox').click()">&nbsp;&nbsp;全选&nbsp;&nbsp;</button>
            </span>
            <span class="r pt-5 pr-5">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
                <button type="button" class="ml-20 btn btn-default radius" onclick="layer_close()">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </span>
        </div>
        {foreach name="node" item="list1"}
        <div class="panel panel-primary mt-20">
            <div class="panel-header">
                <label>
                    <input type="checkbox" name="node_id[]" data-node="{$list1.id}" value="{$list1.id}_{$list1.level}_{$list1.pid}">
                    {$list1.title}
                </label>
            </div>
            <div class="panel-body">
                {foreach name="list_group" item="group"}
                <dl class="permission-list">
                    <dt class="">
                        <label>
                            <input type="checkbox">
                            {$group.name}
                        </label>
                    </dt>
                    <dd>
                        {foreach name="list1._child" item="list2"}
                        {if condition="$list2['group_id'] == $group['id']"}
                        <dl class="cl permission-list2">
                            <dt>
                                <label class="">
                                    <input type="checkbox" name="node_id[]" data-node="{$list2.id}" value="{$list2.id}_{$list2.level}_{$list2.pid}">
                                    {$list2.title}
                                </label>
                            </dt>
                            <dd>
                                {if condition="isset($list2['_child'])"}
                                {foreach name="list2._child" item="list3"}
                                <label class="">
                                    <input type="checkbox" name="node_id[]" data-node="{$list3.id}" value="{$list3.id}_{$list3.level}_{$list3.pid}">
                                    {$list3.title}({$list3.name})
                                </label>
                                {/foreach}
                                {/if}
                            </dd>
                        </dl>
                        {/if}
                        {/foreach}
                    </dd>
                </dl>
                {/foreach}
            </div>
        </div>
        {/foreach}
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        //模块选择
        $(".panel .panel-header input:checkbox").click(function () {
            $(this).closest(".panel").find("input:checkbox").prop("checked",$(this).prop("checked"));
        });

        //分组和菜单节点选择
        $(".permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
            if($(this).prop("checked")){
                $(this).closest(".panel").find(".panel-header input:checkbox").prop("checked",true);
                $(this).closest(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
            }
            else{
                var l1 =$(this).closest(".panel").find(".permission-list dd input:checked").length;
                var l2 = $(this).closest(".permission-list").find("dd").first().find("input:checked").length;
                if(l1==0){
                    $(this).closest(".panel").find(".panel-header input:checkbox").prop("checked",false);
                }
                if(l2==0){
                    $(this).closest(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
                }
            }
        });

        //三级节点选择
        $(".permission-list2 dd input:checkbox").click(function(){
            if($(this).prop("checked")){
                $(this).closest(".panel").find(".panel-header input:checkbox").prop("checked",true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
                $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
            }
            else{
                var l1 =$(this).closest(".panel").find(".permission-list2 dd input:checked").length;
                var l2=$(this).closest(".permission-list").find(".permission-list2 dd").find("input:checked").length;
                var l3 =$(this).closest("dd").find("input:checked").length;
                if(l1==0){
                    $(this).closest(".panel").find(".panel-header input:checkbox").prop("checked",false);
                }
                if(l2==0){
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
                }
                if(l3==0){
                    $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
                }
            }
        });

        //选中已授权权限
        var checks = '{$checks}'.split(",");
        if (checks.length > 0){
            for (var i in checks){
                $("[data-node='"+checks[i]+"']").attr("checked",true);
            }
        }

        $("#form").Validform({
            tiptype:2,
            ajaxPost:true,
            showAllError:true,
            callback:function(ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}