<form class="mb-20" method="get" action="{:\\think\\Request::instance()->baseUrl()}">
    <input type="text" class="input-text" style="width:80px" placeholder="用户ID" name="uid" value="{$Request.param.uid}">
    <input type="text" class="input-text" style="width:150px" placeholder="用户帐号" name="account" value="{$Request.param.account}">
    <input type="text" class="input-text" style="width:150px" placeholder="用户姓名" name="name" value="{$Request.param.name}">
    <input type="text" class="input-text" style="width:200px" placeholder="登录IP" name="login_ip" value="{$Request.param.login_ip}">
    <input type="text" class="input-text" style="width:150px" placeholder="登录地点" name="login_location" value="{$Request.param.login_location}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>