{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <div id="tab_upload" class="HuiTab">
        <div class="tabBar cl"><span>本地上传</span><span>网络图片</span><span>历史图片</span></div>
        <div class="tabCon">
            <iframe style="display: none" frameborder="0" name="upload-iframe" id="upload-iframe"></iframe>
            <form class="form form-horizontal mt-30" id="upload-form" method="post" enctype="multipart/form-data" action="{:\\think\\Url::build('upload')}">
                    <i class="Hui-iconfont Hui-iconfont-add3" style="font-size: 100px"></i>
                    <input type="file" accept="*/*" name="file_0" class="input-file" style="display: none">
                        <!--<span class="btn-upload">
  <a href="javascript:;" class="btn btn-primary radius"><i class="Hui-iconfont Hui-iconfont-upload"></i> 浏览文件</a>
  <input type="file" multiple name="file_0" class="input-file">
</span>-->
            </form>
        </div>
        <div class="tabCon">
            <div class="form form-horizontal mt-30">
                <div class="formControls">
                    <input type="text" class="input-text radius" style="width: 60%">
                    <button class="btn btn-secondary radius ml-10" type="button">抓取</button>
                    <button class="btn btn-primary radius ml-10" type="button">确定</button>
                </div>
            </div>
        </div>
        <div class="tabCon">
            <div class="photo-list mt-30">
                <div class="photo-list-item">
                    <img src="/tmp/1.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
                <div class="photo-list-item">
                    <img src="/tmp/2.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
                <div class="photo-list-item">
                    <img src="/tmp/3.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
                <div class="photo-list-item">
                    <img src="/tmp/4.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
                <div class="photo-list-item">
                    <img src="/tmp/5.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
                <div class="photo-list-item">
                    <img src="/tmp/6.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
                <div class="photo-list-item">
                    <img src="/tmp/7.jpg" class="photo-sub" alt="图片1" title="图片1">
                    <div class="photo-mask">
                        <a class="photo-list-btn photo-list-preview radius" href="javascript:;" src="/tmp/1.jpg">预览</a>
                        <a class="photo-list-btn radius" href="#">选择</a>
                    </div>
                </div>
            </div>
            <div class="photo-page" id="photo-page"></div>
        </div>
    </div>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/viewer/jquery/viewer.min.css">
{/block}
{block name="script"}
<script src="__LIB__/laypage/1.3/laypage.js"></script>
<script src="__LIB__/viewer/jquery/viewer.js"></script>
<script>
    jQuery.Mytab =function(tabBar,tabCon,class_name,tabEvent,i,callback,finished){
        var $tabBar=$(tabBar),$tabCon=$(tabCon);
        // 同一操作
        function chg(index) {
            $tabBar.removeClass(class_name).eq(index).addClass(class_name);
            $tabCon.hide().eq(index).show();
        }
        // 初始化操作
        chg(i);
        typeof finished === "function" && finished(i,$tabCon,$tabBar);

        $tabBar.bind(tabEvent,function(){
            var index=$tabBar.index(this);
            chg(index);
            typeof callback === "function" && callback(index,$tabCon,$tabBar);
        });
    };
//    var view = $(".photo-list-btn").viewer();
    $(".photo-list").viewer();
    $(".photo-list-item").on("click",'.photo-list-btn',function () {
        $(this).parent().prev().click()
    });
    $(function () {
        $.Mytab("#tab_upload .tabBar span","#tab_upload .tabCon","current","click","2",function (index,tabCon,tabBar) {
//            console.log(index);
//            console.log(tabCon.eq(index).html());
        },function (i) {

        });
    });

    /*var nums = 5; //每页出现的数量
    var pages = Math.ceil(data.length/nums); //得到总页数

    var thisDate = function(curr){
        //此处只是演示，实际场景通常是返回已经当前页已经分组好的数据
        var str = '', last = curr*nums - 1;
        last = last >= data.length ? (data.length-1) : last;
        for(var i = (curr*nums - nums); i <= last; i++){
            str += '<li>'+ data[i] +'</li>';
        }
        return str;
    };

    //以下将以jquery.ajax为例，演示一个异步分页
    function demo(curr){
        $.getJSON('test/demo1.json', {
            page: curr || 1 //向服务端传的参数，此处只是演示
        }, function(res){
            //此处仅仅是为了演示变化的内容
            var demoContent = (new Date().getTime()/Math.random()/1000)|0;
            document.getElementById('view1').innerHTML = res.content + demoContent;
            //显示分页
            laypage({
                cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                pages: res.pages, //通过后台拿到的总页数
                curr: curr || 1, //当前页
                jump: function(obj, first){ //触发分页后的回调
                    if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                        demo(obj.curr);
                    }
                }
            });
        });
    };
    //运行
    demo();*/

</script>
{/block}