<nav class="nav navbar-nav">
    <ul class="cl">
        <li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
            <ul class="dropDown-menu menu radius box-shadow">
                <li><a href="javascript:;" onclick="layer_open('回调测试', '{:\\think\\Url::build(\'welcome\')}', {fn:function() {layer.msg('我是回调，弹层加载完成后触发')}});"><i class="Hui-iconfont">&#xe616;</i> 自己随意</a></li>
                <li><a href="javascript:;" onclick="full_page('关窗警告测试', '{:\\think\\Url::build(\'welcome\')}', {confirm:true});"><i class="Hui-iconfont">&#xe613;</i> 添加菜单</a></li>
                <li><a href="javascript:;"><i class="Hui-iconfont">&#xe620;</i> 如果不需要</a></li>
                <li><a href="javascript:;"><i class="Hui-iconfont">&#xe60d;</i> 可以注释掉</a></li>
            </ul>
        </li>
    </ul>
</nav>