<nav class="nav navbar-nav">
    <ul class="cl">
        <li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
            <ul class="dropDown-menu menu radius box-shadow">
                <li><a href="javascript:;" onclick="layer_open('测试','{:url(\'welcome\')}',{fn:function() {
                  console.log('callback')
                },confirm:true});"><i class="Hui-iconfont">&#xe616;</i> 资讯</a></li>
                <li><a href="javascript:;" onclick="full_page('测试','{:url(\'welcome\')}',{fn:function() {
                  console.log('callback')
                },confirm:true});"><i class="Hui-iconfont">&#xe613;</i> 图片</a></li>
                <li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 产品</a></li>
                <li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
            </ul>
        </li>
    </ul>
</nav>