{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('recycle',explode(',','[menu]'))"}
{tp:access action='recycle'}
<a class="btn btn-success radius" href="javascript:;" onclick="recycle_all('{:\\think\\Url::build(\'recycle\')}')"><i class="Hui-iconfont">&#xe610;</i> 还原</a>
{/tp:access}
{/if}
{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('deleteForever',explode(',','[menu]'))"}
{tp:access action='deleteForever'}
<a href="javascript:;" onclick="del_forever_all('{:\\think\\Url::build(\'deleteForever\')}')" class="btn btn-danger radius ml-5"><i class="Hui-iconfont">&#xe6e2;</i> 彻底删除</a>
{/tp:access}
{/if}
{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('clear',explode(',','[menu]'))"}
{tp:access action='clear'}
<a href="javascript:;" onclick="clear_recyclebin('{:\\think\\Url::build(\'clear\')}')" class="btn btn-danger radius ml-5"><i class="Hui-iconfont">&#xe6e2;</i> 清空回收站</a>
{/tp:access}
{/if}