{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('add',explode(',','[menu]'))"}
{tp:access action='add'}
<a class="btn btn-primary radius" href="javascript:;" onclick="layer_open('添加','{:\\think\\Url::build(\'add\')}')"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
{/tp:access}
{/if}
{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('forbid',explode(',','[menu]'))"}
{tp:access action='forbid'}
<a href="javascript:;" onclick="forbid_all('{:\\think\\Url::build(\'forbid\')}')" class="btn btn-warning radius ml-5"><i class="Hui-iconfont">&#xe631;</i> 禁用</a>
{/tp:access}
{/if}
{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('resume',explode(',','[menu]'))"}
{tp:access action='resume'}
<a href="javascript:;" onclick="resume_all('{:\\think\\Url::build(\'resume\')}')" class="btn btn-success radius ml-5"><i class="Hui-iconfont">&#xe615;</i> 恢复</a>
{/tp:access}
{/if}
{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('delete',explode(',','[menu]'))"}
{tp:access action='delete'}
<a href="javascript:;" onclick="del_all('{:\\think\\Url::build(\'delete\')}')" class="btn btn-danger radius ml-5"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a>
{/tp:access}
{/if}
{if condition="(substr('[menu]',1,4) eq 'menu') OR in_array('recyclebin',explode(',','[menu]'))"}
{tp:access action='recycleBin'}
<a href="javascript:;" onclick="open_window('回收站','{:\\think\\Url::build(\'recyclebin\')}')" class="btn btn-secondary radius ml-5"><i class="Hui-iconfont">&#xe6b9;</i> 回收站</a>
{/tp:access}
{/if}