<form class="mb-20" method="get" action="{:\\think\\Url::build(\\think\\Request::instance()->action())}">
    <input type="text" class="input-text" style="width:250px" placeholder="标题" name="title" value="{:\\think\\Request::instance()->param('title')}">
    <input type="text" class="input-text" style="width:250px" placeholder="名称" name="name" value="{:\\think\\Request::instance()->param('name')}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>