<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <div class="select-box" style="width:250px">
        <select name="group_id" class="select">
            <option value="">分组不限</option>
            <option value="0">未分组</option>
            {foreach name='group_list' item='group'}
                <option value="{$group.id}">{$group.name}</option>
            {/foreach}
        </select>
    </div>
    <input type="text" class="input-text" style="width:250px" placeholder="标题" name="title" value="{$Request.param.title}">
    <input type="text" class="input-text" style="width:250px" placeholder="名称" name="name" value="{$Request.param.name}">
    <input type="hidden" name="pid" value="{$Request.param.pid}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>